* {
  /* box-sizing: border-box; */
}

:focus {
 /* TODO */

}
html {
  height:100%;
}

body {
 

  background-image: linear-gradient(to right,yellow,rgb(255, 81, 0));
  height:100%;
 
  
}

input {
 background-color:rgba(255, 191, 108, 0.747);
 
}

.search-container {
  display:flex;
  justify-content: center;
  align-items:center;
  height:100%;
  position:relative;
  
 
}
.search-container input,
.search-container .suggestions {
  /* border:solid 10px blue;
   */
}
.search-container input {
  padding: 10px;
  border:none;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.5);
  font-size:14px;
  width:280px;
}
.search-container .suggestions {
   /* TODO */
  /* border:red 10px solid;
  */

}

ul {
  
}
ul.has-suggestions {
  /* TODO */
}
ul li {
  
}
ul li:hover {
  
}

input {
   /* TODO */
} 