* {
  box-sizing: border-box; 
  padding:0px;
  
}

:focus {
  background-color:rgba(255, 191, 108, 0.788);
}

body {
 display:flex;
 justify-content: center;
 align-content: center;
 padding:25%;
 background-image: linear-gradient(to right,yellow,rgb(255, 81, 0));
}

input {
  background-color:rgba(255, 191, 108, 0.747);

}

.search-container {
 /* TODO */
}
.search-container input,
.search-container .suggestions {
  padding: 10px;
  border:none;
  font-size:14px;
  width:280px;
  
}
.search-container input {
  box-shadow: 1px 2px 3px rgba(0,0,0,0.5);
}
.search-container .suggestions {
   /* TODO */
}

ul {
 margin-left:-10px;
 margin-top:-10px;
}
ul.has-suggestions {
  font-weight:bold;
}
ul li {
  background-color:rgba(255, 191, 108, 0.747);
  list-style-type:none;
  width:280px;
  padding:10px;
  
}
ul li:hover {
  background-color: rgb(248, 99, 0);
}

input {
   /* TODO */
}
